version: '3'
services:
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file: .env
    environment:
      - MONGO_USERNAME=$MONGO_USERNAME
      - MONGO_PASSWORD=$MONGO_PASSWORD
      - MONGO_HOSTNAME=db
      - MONGO_PORT=$MONGO_PORT
      - MONGO_DB=$MONGO_DB
    ports:
      - 5000:5000
    volumes:
      - ./server/:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - database
    links:
      - database
    command: npm run watch
  database:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - ./db:/data/db
